* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navigation bar */
.navigator {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: black;
  border-bottom: 2px solid white;
  color: white;
  font-size: 1.3rem;

  padding: 20px 40px 20px 40px;
}

#links {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 20px;
}

#links > a {
  text-decoration: none;
  color: white;
}

/* signup-login container */
.signup-login-container {
  display: flex;
  justify-content: space-around;
}

#header {
  display: flex;
  flex-direction: column;

  padding: 30px;
  line-height: 50px;
}

#header h1 {
  font-size: 3rem;
}

#header p {
  font-size: 1.5rem;
}

#buttons {
  display: flex;
  justify-content: start;
  align-items: center;

  gap: 20px;
}

#buttons button {
  margin-top: 15px;
  padding: 15px 60px 15px 60px;

  font-size: 1rem;
}

.button-img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#login {
  background-color: black;
  color: white;
}

#signup {
  background-color: white;
  color: black;
}

#poster img {
  width: 65vw;
  height: 90vh;
}
