/* new code */
body {
  overflow-x: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.items-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 20px;
  overflow-x: scroll;

  /* 
    if we auto the parent div, it will force the child divs 
    to fit into the visible screen width; 
  */
  width: fit-content;
}

.items-container::-webkit-scrollbar {
  display: none;
}

/* existing code */
#shopping-item {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 280px;
  padding: 10px;
}

#item-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

#item-img img {
  width: 90%;
  height: 36vh;
}

#item-details {
  display: flex;
  flex-direction: column;
}

#dollar-size {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;

  font-weight: bold;
}

#title {
  padding: 0 0 10px 10px;
  line-height: 20px;
  font-weight: bold;
}

#color,
#rating {
  padding-left: 10px;
  line-height: 20px;
}

#color img {
  width: 16px;
}

#rating img {
  width: 16px;
}

#add-to-cart-button {
  width: 100%;
  padding: 12px;
  margin-top: 5px;

  background-color: black;
  color: white;

  justify-self: self-end;
}
