.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
}

.form > input {
  font-weight: 900;
  height: 35px;
  padding-left: 10px;
  color: black !important;
  border: 1px solid black;
  background-color: white;
}

.form > button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  width: 120px;
  height: 35px;
  margin-right: 10px;
  padding: 5px 10px;
}
